.btn-orange {
  color: white;
  background-color: #f4a261; }

.btn-orange:hover {
  color: white;
  background-color: #cf6348; }

.nav-item {
  margin-right: 10px;
  margin-left: 10px; }

.main-container {
  height: 80vh; }

.main-container-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr); }
  @media screen and (max-width: 768px) {
    .main-container-grid {
      grid-template-rows: repeat(4, 1fr); } }

.login-container {
  grid-column: 4 / span 2;
  grid-row: 3 / span 3; }
  @media screen and (max-width: 768px) {
    .login-container {
      grid-column: 2 / span 6;
      grid-row: 2 / span 2; } }

.create-account-container {
  display: block;
  grid-column: 4 / span 2;
  grid-row: 3 / span 3; }
  @media screen and (max-width: 768px) {
    .create-account-container {
      grid-column: 2 / span 6;
      grid-row: 2 / span 2; } }

.toast-position {
  position: absolute;
  top: 100px;
  right: 10px; }

.invisible {
  visibility: hidden; }

.transparent {
  opacity: 0; }

.footer {
  height: 20vh; }
