<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer" class="footer mt-auto py-3 bg-light">
    <div class="container text-muted font-weight-light">
        <div class="justify-content-start">
            <ul class="list-unstyled contact mb-0">
                <li>
                    <i class="fas fa-map-marker-alt"></i>
                    Based in Beaverton, Oregon
                </li>
                <li>
                    <i class="fas fa-phone-alt"></i>
                    Phone: 888-888-8888
                </li>
                <li>
                    <i class="fas fa-envelope"></i>
                    <a
                            class="text-decoration-none text-reset"
                            href="mailto:naturetechlandscapeservices@gmail.com"
                    >Email: support@smartliving.com</a
                    >
                </li>
            </ul>
        </div>

        <div class="">
            <span class="">&copy 2020 Smart Living</span>
        </div>
    </div>
</footer>
</body>
</html>