<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{head::general(title='SmartLiving | Home')}">
</head>
<body>
<header class="fixed-top" th:insert="~{nav::main-nav(homeActive='active')}">
</header>

<main>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-6 mt-4 mb-4">
                    <h1 class="display-3">Smart <span class="txt-type" data-wait="3000" data-words='["Living", "Dieting", "Training", "Analysis"]'></span></h1>
                    <p class="lead">Create diet plans, manage clients, track progress, get results.</p>
                </div>
                <div class="col-6">
                    <div class="card">
                        <h5 class="card-header">Create an account</h5>
                        <div class="card-body">
                            <!--                            <h5 class="card-title">Special title treatment</h5>-->
                            <form id="createAccount">
                                <div class="form-row form-group">
                                    <label class="col-2">Email</label>
                                    <div class="col-10">
                                        <input class="form-control">
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <label class="col-2">Password</label>
                                    <div class="col-10">
                                        <input class="form-control">
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <label class="col-2">Confirm password</label>
                                    <div class="col-10">
                                        <input class="form-control">
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <a href="#" class="btn btn-success">Create Account</a>
                                    <div class="d-flex">
                                        <p class="mr-2  mt-1 mb-0">Already have an account?</p>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#logInModal">Log In</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="logInModal" tabindex="-1" role="dialog" aria-labelledby="logInModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Log In</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="logIn" action="/login" method="post">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input id="username" class="form-control" type="text" name="username" placeholder="joe" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input id="password" class="form-control" type="password" name="password" required>
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Log In</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Log In</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">

        <!-- Card Deck -->
        <div class="row py-3">
            <div class="card-deck">
                <div class="card shadow-lg">
                    <a href="./diet" class="img-hover-zoom">
                        <img
                                src="./img/fruits.jpg"
                                class="card-img-top"
                                alt="Lawn Mower"
                        />
                    </a>
                    <div class="card-body">
                        <h2 class="card-title font-weight-bold text-center">Dieting Made Simple</h2>
                        <ul class="card-text">
                            <li>Monthly Maintenance</li>
                            <li>Lawn Sodding</li>
                            <li>Mowing</li>
                            <li>Yard Cleanup</li>
                            <li>Planting</li>
                        </ul>
                    </div>
                    <a href="./diet" class=" btn btn-orange">Dieting</a>
                </div>
                <div class="w-100 d-none d-sm-block d-md-block d-lg-none"></div>
                <div class="card shadow-lg">
                    <a href="./tracking" class="img-hover-zoom">
                        <img
                                src="./img/data.jpg"
                                class="card-img-top"
                                alt="Person planting"
                        />
                    </a>
                    <div class="card-body">
                        <h2 class="card-title font-weight-bold text-center">Track Your Results</h2>
                        <p class="card-text">
                            We have worked all throughout Multnomah and Washington County
                            on a wide variety of both residential and corporate
                            properties. Check out some of our work.
                        </p>
                    </div>
                    <a href="./tracking" class="btn btn-orange">Tracking</a>
                </div>
                <div class="w-100 d-none d-sm-block d-md-block d-lg-none"></div>
                <div class="card shadow-lg">
                    <a href="./manage" class="img-hover-zoom">
                        <img
                                src="./img/clients.jpg"
                                class="card-img-top"
                                alt="Shovel in the dirt"
                        />
                    </a>
                    <div class="card-body">
                        <h2 class="card-title font-weight-bold text-center">Easily Manage Clients</h2>
                        <p class="card-text">
                            We pride ourselves in providing top quality landscaping at a
                            competitive price. Contact us to ensure that your property
                            looks exactly the way you've envisioned.
                        </p>
                    </div>
                    <a href="./manage" class="btn btn-orange">Manage</a>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{footer :: footer}"></div>
<div th:replace="~{scripts :: bootstrap}"></div>
<div th:replace="~{scripts :: typewriter}"></div>
</body>
</html>