@import "../abstracts/variables";

.link-plain {
    color: $text-color;

    &:hover {
        text-decoration: none;
        color: $text-color;
    }
}

.exercise-display__container {
    max-height: 715px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.exercise-search-results__container {
    max-height: 715px;
    overflow-y: auto;
    overflow-x: hidden;
}

.editableItem__center {
    left: 36%;
}

.notEditableItem__center {
    left: 0;
}