.nav-pills {
  .nav-link {
    background-color: transparent;
    color: white;
  }
  .nav-link:hover, .nav-link:active, .nav-link:focus, .active {
    background-color: transparent !important;

  }
}

html {
  height: 100%;
  body {
    height: 100%;
    main {
      height: calc(100%);
      #dashboard {
        height: 100%;
        #dash-navigation{
          height: calc(90%);
          width: 350px;
        }
        #dash-data{
          min-height: 100%;
          padding-left: 374px;
        }
      }
    }
  }
}

.aFood > *{
  cursor: grab;
}

//Prevents tool tip from twitching
.tooltip{
  pointer-events: none;
}

th label {
  display: none;
}
