@import "abstracts/abstracts-index";
@import "base/base-index";
@import "components/components-index";
@import "layout/header";

body {
  margin-top: 88px;
}

html {
  overflow-y: scroll;
}

main#diet-main {
  padding-top: 32px;
}

td label {
  display: none;
}

main {
  min-height: calc(100vh - 88px);;
}

header .nav-pills {
  .nav-link {
    background-color: transparent;
    color: white;
  }
  .nav-link:hover, .nav-link:active, .nav-link:focus, .active {
    background-color: transparent !important;

  }
}

#dash-navigation {
  min-height: 60vh;
  max-height: 80vh;
}

#foods-found {
  //min-height: 20vh;
  max-height: 60vh;
  overflow: auto;
}

.aFood > *{
  cursor: grab;
}

//Prevents tool tip from twitching
.tooltip{
  pointer-events: none;
}

th label {
  display: none;
}

label[for="search-food-name"] {
  display: none;
}

.list-group-item {
  transition: background-color .75s ease;
}

.list-group-item:hover {
  background-color: #dae0e5 !important;
  transition: background-color .75s ease;
}

.list-group-item.active{
  color: inherit;
  background-color: #c4c9ce !important;
  border-color: transparent !important;
  transition: background-color .75s ease;
}

.popover {
  white-space: pre-wrap;
}

//.rm-food {
//  border-radius: 15px;
//}

.popover-header{
  background: var(--info);
}

.popover{
  z-index: 1000;
}
