$main-color: #90E0EF;

.jumbotron{
  background-color: $main-color;
}

td label {
  display: none;
}

.light-gray {
  background-color:  #e9ecef;
}

body {
  padding-top: 56px;
}

.nav-item {
  margin-right: 10px;
  margin-left: 10px;
}
