@import "variables";

.bg-main-color {
  background-color: $main-color;
}

.jumbotron{
  background-color: $main-color;
  padding-bottom:80px;
  padding-top: 80px;
}

td label {
  display: none;
}

.light-gray {
  background-color:  #e9ecef;
}

main {
  min-height: calc(100vh - 128px - 88px);;
}

.nav-item {
  margin-right: 10px;
  margin-left: 10px;
}

.card-deck .card .btn {
  background-color: $secondary-color;
}

.card-deck .card .btn:hover{
  background-color: $secondary-color-hover;
}

.img-hover-zoom {
  overflow: hidden;
  img {
    transition: transform 1s, filter 1s ease;
  }
  img:hover {
    transform: scale(1.2);
    filter: grayscale(80%);
  }
}

.fixed-top {
  width: 100%;
}
