$main-color: #90E0EF;
$secondary-color: #f4a261;
$secondary-color-hover: #cf6348;

.bg-main-color {
  background-color: $main-color;
}

.jumbotron{
  background-color: $main-color;
  padding-bottom:80px;
  padding-top: 80px;
}

td label {
  display: none;
}

.light-gray {
  background-color:  #e9ecef;
}

body {
  padding-top: 88px;
}

.nav-item {
  margin-right: 10px;
  margin-left: 10px;
}

.card-deck .card .btn {
  background-color: $secondary-color;
}

.card-deck .card .btn:hover{
  background-color: $secondary-color-hover;
}

.img-hover-zoom {
  overflow: hidden;
  img {
    transition: transform 1s, filter 1s ease;
  }
  img:hover {
    transform: scale(1.2);
    filter: grayscale(80%);
  }
}


