$main-color: #90E0EF;
$secondary-color: #f4a261;
$secondary-color-hover: #cf6348;

.bg-main-color {
  background-color: $main-color;
}

.btn-orange {
  color: white;
  background-color: $secondary-color;
}

.btn-orange:hover {
  color: white;
  background-color: $secondary-color-hover;
}